
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}


body {
    background-color: rgb(177, 151, 188);
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  align-items: center;
  display: grid;

}

.container {
    height: auto;
    max-width: 800px;
    width: 100%;
    margin: 50px 10px;
    flex-wrap: wrap;
}

.section {
    background-color: #ffff;
    border-radius: 7px;
    margin-bottom: 1px;
    padding: 50px;
    display: flex;
    width: 90%;
}

.item{
    width: 100%;
}

.subsection {
    width: 50%;
    margin: 50px 10px;
  
}

.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(38, 157, 38);
    border-radius: 50%;
}

.status {
    display: flex;
    border: 1px solid rgb(179, 177, 177);
    border-radius: 20px;
    padding: 6px;
    margin-right: 40px;
}

.p-status {
    margin: 0 10px;
}

.profile {
    max-width: 100%;
    height: 200px;
    border-radius: 15px;
    margin-top: 16px;
}
.p-desc {
    
    border-radius: 1px solid  rgb(176,172, 172);
    padding-bottom: 20px;
    text-align:left;
    font-size: x-large;
    
}

.btn-black {
    background-color: rgb(122, 6, 133);
    color: #ffff;
    padding: 20px;
    border-radius: 30px;
}

.btn-black:hover {
    background-color: #ffff;
    color: black;
    cursor: pointer;
}

.btn-lined {
    background-color: #ffff;
    padding: 20px;
    border-radius: 30px;
    text-decoration: underline;
    border: 2px solid black;

}

.btn-lined:hover {
    background-color: rgb(122, 6, 133);
    color: #ffff;
    cursor: pointer;
}

.section-title{
    padding-top: 8px;
    padding-bottom: 0px;
    margin-top: 58px;
}


.sticky-nav {
    height: 200px;
    width: 50px;
    background-color: rgb(122, 6, 133);
    border-radius: 30px;
    position: sticky;
    top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

li {
    color: #ffff;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

ul {
    text-decoration: none;
    padding: 0;
    list-style: none;
}

hr {
    border-radius: 1px solid  rgb(176,172, 172);
    margin: 20px auto;
    height: auto;
    width: 300px;
    text-align: center;

}

.underline {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: 200;
    text-align: center;
}

.texto {
    display: flex;
    justify-content: center;
    font-weight: 50;
    text-align: center;
    font-size: large;
    font-style: normal;


}

.experiencia{
    display: flex;
    text-align: center;
    right: -100;
}

.titulo{
   

    display: flex;
    text-align: center;
    justify-content: center;
}

.status-p {
    display: flex;
    text-align:center;
    justify-content: center;
    font-size: 50;
    border: 1px solid rgb(179, 177, 177);
    border-radius: 15px;
    padding: 3px;
    margin-right: 10px;
    
}

/*estilo fecua de educacion*/

.status-e {
        display:flex;
        text-align: center;
        position: relative;
        align-self: center;
        right: -120px;
        width: 80px;
        height: 20px;
        border: 1px solid rgb(179, 177, 177);
        border-radius: 30px;
        padding: 1px;
        margin-right: 10px;
        font-size: small;
        font-style: normal;
        font-weight: lighter;
    }



.section-title {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 58px;
}

/* seccion work */


.work {
    display: flex;
    
}
.shop {
    display: flex;
    position: relative;
    right: -500px;
    width: 35px;
    
}



.cuadro{
    justify-content: left;
    font-size: small;
    align-items: center;

    
}

.container-work {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 calc(50% - 20px); /* Dos columnas en pantallas más grandes */
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    display: grid;
    gap: 10px;
    padding: 0;
    margin: 0;
    
   
    
    
}



/* seccion muestras de trabajo, tarjeta*/


.card {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    margin: 10;
    padding: 1;
    left: -10px;
    
}
/* seccion muestras de trabajo, tarjeta*/

.card:hover {
    transform: scale(1.05);
}
/* seccion muestras de trabajo, tarjeta*/

.card img {
    width: 100%;
    height: auto;
}
/* seccion muestras de trabajo, tarjeta*/

.description {
    display: flex;
    width: 100%;
    padding: 15px;
    text-align: center;
}
/* seccion muestras de trabajo, tarjeta*/

.description h2 {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
    position: relative;
    left: -5px;
}
/* seccion muestras de trabajo, tarjeta*/

.description p {
    width: 100%;
    display: flex;
    font-size: 1em;
    color: #666;
    position: relative;

}
/* seccion muestras de trabajo, tarjeta*/

.contorno {
    width: 100%;
    display: flex;  
    background-color: #c8c8c87c;
    border-radius: 20px;
    padding: 6px;
    margin-right: 40px;
}
/* seccion de pregunta*/

.portafolio{

    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: medium;
    font-style: normal;
    right: -150px;
    
}

/* Sección de icono servicio*/


.icon-servicio {
    display: flex;
    position: relative;
    right: -400px;
    width: 50px;
    
}



/* Estilo del ACORDEON */


/* dando estilo al acordeon*/
/* dando margen y tamaño de la letra*/
.servicios {
    font-size: 10px;
    margin-bottom: 10px;
  }
  /* dando estilo a la caja que encierra cada recomendacion, dandole un relleno blanco con transparencia, margen , radio, etc..*/
  .servicios .acordeon .acordeon-item {
    padding: 20px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 10px;
  }


  /* Ajustando y centrando el titulo  y del icono del acordeon para que el icono se encuentre al lado del titulo*/
  .servicios .acordeon .acordeon-item .acordeon-titulo {
    display: flex;
    position: relative;
    cursor: pointer;
    

  }

  .acordeon-icono {
    display: flex;
    position: relative;
    right: -510px;
  }
  /* Ajustando el tamaño del Icono  */
  .servicios .acordeon .acordeon-item .acordeon-titulo .acordeon-icono  i {
    margin-right: 15px;
    font-size: 15px;
    transition: 0.4s;
  }


  /* AJUSTES PARA OCULTAR Y MOSTRAR EL CONTENIDO DE CADA RECOMENDACION*/
/* */
  .servicios .acordeon .acordeon-item .acordeon-contenido {
    max-height: 0;
    overflow: hidden; /* recorta el contenido que sale de la caja de reocmendacion*/
    transition: max-height 0.5s ease;
  }
  /* Muestra ek contenido recortado*/
  .servicios .acordeon .acordeon-item .acordeon-contenido.show_1 {
    max-height: 1000px; /* Puede ajustarse esto según sea necesario */
  }

      /* icono contacto*/

  .contacto {
    display: flex;
    position: relative;
    right: 50px;
   
}
.hidden {
    display: none;
}
.icon {
    cursor: pointer;
}

.muestra {
    display: flex;
    position: relative;
    right: -440px;
    width: 35px;
    
}

.comentario{
    position: relative;
}

.boton{
    position: relative;
    display: flex;
    right: -600px;
    top: -40px;


}

.no-mostrar{
    display: none;
}

.mostrar-comentario{
    display: block;
}

      /* seccion video*/

.info {
    
    align-items: center;
    padding: 20px;
    flex: 1;

}

      /* seccion video*/

.video{
    display: flex;
    width: 50%;
}
      /* seccion video*/

.info-font{
    display: flex;
    border: 1px solid rgb(179, 177, 177);
    border-radius: 20px;
    padding: 6px;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
      /* seccion video*/

.info-parrafo{
    font-size:x-large;
    justify-content: center;
    align-items: center;
}

.person{
    display: flex;
    position: relative;
    right: -350px;
    width: 35px;
}



.field  {
    display: flex;
    border-radius: 7px;
    width: 400px;
    height: 40px;
    padding: 10px;
    border-width: 1px;
    border-color: #888888;
    justify-content: space-between;


}

.field input{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1px;
    max-width: max-content;
    size: 30;


}

textarea {
    width: 100vw;
    z-index: 1;
    bottom: -20px;
    right: -150px;
    display: flex;
    position: relative;
    order: 2;
    min-height: auto;
    padding: 10px;
    border-radius: 4px;
    min-height: 120px;
    margin-bottom: 20px;
    max-width: max-content;

}


.button {
    background-color: black;
    position: relative;
    color: #ffff;
    padding: 0 20px;
    z-index: 2;
    border-radius: 50px;
    cursor: pointer;
    right: -250px;
    bottom: 30px;
}

.button:hover {
    background-color: #ffff;
    color: black;
    cursor: pointer;
}


.formulario{
    display: flex;
    
}

.footer{
    display: flex;
    width: 20px;
    height: 20px;
}
.redes{
    display: flex;
    border: 1px solid rgb(179, 177, 177);
    border-radius: 20px;
    padding: 6px;
    margin-right: 40px;
}

.section-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    left: -50px;
    position: relative;
}
.correo{
    display: flex;
    position: relative;
    left: -40px;
    
}

.licence{
    display: flex;
    right: -100;
}

.template{
    display: flex;
}


@media screen and (max-width: 800px) {

    .container {
    
    width: 100%;
    
    }
    
    .sticky-nav {
        width: 100%;
    }
 
    .work {
    width: 100%;   
    }
     
    .card {
        width: 100%;
    }

    .description {
        width: 100%;
    }
    .contorno {
        width: 100%;
    }
    }
    
    @media (max-width: 1024px) {
    
    .container {
    
    width: 100%;
    
    }
    
    }

    @media (max-width: 500px) {
    
        .container {
        
        width: 100%;
        }

        .container-work {
            width: 100%;
            display: grid;
            flex: 1 1 100%; /* Una sola columna */

        gap: 10px;
        }

        

        }